body {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
        "header header"
        "main aside"
        "footer footer";
    height: 100vh;
}
header {
    grid-area: header;
    background-color: rgb(71, 101, 254);
    text-align: center;
    padding: 20px;
    font-size: 40px;
}
main {
    grid-area: main;
    background-color: cyan;
    padding: 20px;
    font-size: 40px;
}
aside {
    grid-area: aside;
    background-color: lightgreen;
    padding: 20px;
    font-size: 40px;
}
footer {
    grid-area: footer;
    background-color: rgb(254, 206, 62);
    text-align: center;
    padding: 20px;
    font-size: 40px;
}