* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label {
    width: 30%;
    font-weight: bold;
    color: #555;
}

input, textarea {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    color: #333;
}

input:focus, textarea:focus {
    border-color: #007BFF;
    outline: none;
}

textarea {
    height: 150px;
}

button.btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

button.btn:hover {
    background-color: #0056b3;
}
